[client]
#host=localhost
#database=reward
user=root
password=''

[mysql]
# prompt settiong
# u:user
# h:host
# d:database
prompt=\\u@\\h:\\d>\\_

# if you want to use update, you have to use 'where' or 'limit'
# When you temporarily remove this setting, you use below
# mysql> SET SQL_SAFE_UPDATES=0;
safe-updates
